
.feature_section {
    background: #002570;
    flex-shrink: 0;
    padding: 40px 80px;
}

.top_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top_heading {
    display: flex;
    width: 421px;
    height: 51px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; /* 241.6% */
}

.feature_cards {
    display: flex;
    flex-wrap: wrap;
}


