

.card_image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    color: #FAFBFC;
    border: 1px solid #FAFBFC;
    border-radius: 50%;
    margin-top: 40px;
    padding: 10px;
    background: #FAFBFC;
}

.heading {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.717% */
    margin-top: 24px;
}

.detail {
    width: 341px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.7% */
    margin-top: 24px;
}

.card_image, .heading, .detail {
    margin-left: 24px;
}